# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp/
.pnp.js
dist
dist-ssr
*.local

# testing
coverage/

# production
build/

# OS files
.DS_Store

# Secret files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/
.vscode/*
!.vscode/extensions.json
.idea


# TODOs/Workflows/Tasks
.history/
.github/
TODO

# Misc.
example-code/
# Misc.
example-code/